__pycache__
amt
temp
target
dist
fastmidi
fluidsynth
binaries
DawVert
examples/csv
examples/flac
examples/genshinsheet
examples/hpc
examples/litematic
examples/mcfunction
examples/mid
examples/midi
examples/moai
examples/nbs
examples/nbt
examples/ogg
examples/org
examples/skysheet
examples/wav
examples/zip
examples/🗿
.idea
*.egg-info
*.pyd
*.sf2