__pycache__
amt
temp
target
fastmidi
DawVert
examples/csv
examples/genshinsheet
examples/hpc
examples/litematic
examples/mcfunction
examples/mid
examples/midi
examples/moai
examples/nbs
examples/nbt
examples/org
examples/skysheet
examples/zip
examples/🗿
.idea
*.egg-info
*.pyd
*.sf2